





.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }

/* Add a dark background color with a little bit see-through */ 


/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: transparent !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: transparent !important;
}

.w3-panel{
    margin-bottom: 0px;
}
.dropdown-menu  {
    background-color: #77767 !important;
}

