{% load staticfiles %}
{% load static %}
    <html>
        <head>
            <title>X GAME</title>
            
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
            <meta charset="utf-8">
  			<meta name="viewport" content="width=device-width, initial-scale=1">
  			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
            <div>
                <h1><a href="/">Stim X GAMES</a></h1>
            </div>
                <div class="row"> 
            	   {% for juego in juegos %}
    				<div class="col-sm-4">
      					<p class="text-center"><strong><h1>{{ juego.nombre }}</h1></strong></p><br>
            			<a href="#demo" data-toggle="collapse">
        					<img src="static/images/maincra.jpg" class="img-circle person" width="255" height="255">
      					</a>
      				<div id="demo" class="collapse">
        				<p>{{ juego.descripcion|linebreaksbr }}</p>
            			<p>published: {{ juego.fecha_de_lanzamiento }}</p>
            			<p>{{ juego.precio }}</p>
      				</div>
      				</div>  	
      				{% endfor %}
      			</div>	             
        </body>
    </html>

 