{% extends 'steam/base.html' %}  
      {% block content %}   
             
                <div class="row text-center"> 
            	      {% for genero in generos %}
    				        <div class="col-sm-4">
      					        <p class="text-center"> 
                                <a href="{% url 'cat' pk=genero.pk  %}"><button type="button" class="btn btn-danger">{{ genero.nombre }}</button> </a>
                        </p>
            			</div>
                    {% endfor %}
      			    </div>

      {% endblock content %}
